body{
    padding: 0px;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #ecf0f3;
    flex-direction: column;
}
.heading{
    margin-bottom: 3rem;
    color:rgb(48, 47, 47) ;
    text-shadow: 2px 2px 2px rgb(77, 178, 241);
}
.container{
    width:45%;    
    /* width and height are in % or in rem so that they change wrt to viewport whereas others are
    in pixels as they will be same even in other view port */
    height:45vh;
    padding:10px;
    border-radius:8px;
    /* background-color:#e0abc4; */
    box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;

                          
}

.display #screen{
    width: 97%;
    height:70px;
    font-size:35px;
    outline:none;
    border: none;
    text-align: right;
    padding-right: .5rem;
    background-color: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;

}

.btns {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top:1.7rem;
    display: flex;
    flex-direction: column;
}
button {
    width:80px;
    height:30px;
    font-size:15px;
    outline:none;
    border: none;
    margin: 5px;
    /* text-align: center; */
    border-radius: 6px;
    box-shadow: inset 5px 5px 8px #00000020,
                inset -5px -5px 8px #ffffff;
    cursor: pointer;


}
button:hover{
    box-shadow: inset 5px 5px 8px #00000040,
                inset -5px -5px 8px #ffffff;
                background-color:antiquewhite;
               
}
 #eval 
    {
        background: #33ccff;
        color: #fff;
        box-shadow: 0px 0px;
    }

    #eval:hover 
    {    
        background-color: white;
        color: black;
        /* box-shadow: inset 5px 5px 8px #00ace6,
                    inset -5px -5px 8px #00ace6; */
    }

    #ac 
    {
        background: rgb(58, 58, 57);
        color: #fff;
        box-shadow: 0px 0px;
    }

    #ac:hover 
    {
        background-color: white;
        color: black;
        /* box-shadow: inset 5px 5px 8px #a1b1a1,
                    inset -5px -5px 8px #33cc33; */
    }

    #ce 
    {
        background: #9d07ef;
        color: #fff;
        box-shadow: 0px 0px;
    }

    #ce:hover 
    { 

        background-color: white;
        color: black;
          /* box-shadow: inset 5px 5px 8px #010664,
                      inset -5px -5px 8px #010664; */
    }